:root.theme-dark {
  /*Переменные для тёмной темы */
  --accent-color: #ff0070;
  --background-accent: var(--accent-color, #ff0070);
  --color-button: var(--accent-color, #ff0070);
  --border: var(--accent-color, #ff0070);
  --color-title: #DB00FF;
  --font-family: 'IBM Plex Mono', 'Arial', sans-serif; 
  --color-text: #F1B2CE;
  --font-weight-normal: 400px;
  --background-image-page: url(../images/cover-image-dark.png);
  --background-image-cover: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --color-title-decor: var(--background-color, #000028);
  --shadow: var(--accent-color, #ff0070);
}

.page.theme_dark {
  --accent-color: #ff0070;
  --background-accent: var(--accent-color, #ff0070);
  --color-button: var(--accent-color, #ff0070);
  --border: var(--accent-color, #ff0070);
  --color-title: #DB00FF;
  --font-family: 'IBM Plex Mono', 'Arial', sans-serif; 
  --color-text: #F1B2CE;
  --font-weight-normal: 400px;
  --background-image-page: url(../images/cover-image-dark.png);
  --background-image-cover: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --color-title-decor: var(--background-color, #000028);
  --shadow: var(--accent-color, #ff0070);
}

